<div id="trackInfo">
	<!-- for stacking -->
	<div>
		<!-- position:relative, background-image: album_art -->
		<div>
			<!-- content wrapper -->
			<img src="album_pic" />
			<div>
				<!-- image height correctness, overflow:hidden, min-height/min-width -->
				<div>
					<img src="profile_pic" />
				</div>
				<h3>friend_name <span> listened to</span></h2>
				<h2>song_name <span> by</span></h2>
				<h3>artist_name</h2>
			</div>
		</div>
	</div>
	...
</div>