@font-face {
	font-family: Ranger;
	src: url("Ranger.ttf") format("truetype");
}

@font-face {
	font-family: Ranger;
	font-weight: normal;
	src: url("Ranger.ttf") format("truetype");
}

body {
	font-family: 'Lucida Grande', Helvetica, Georgia, sans-serif;
	width: 100%;
	height: 100%;
	font-size: 11px;
}

h1 {
	font-weight: normal;
	font-size: 74px;
	line-height: 1em;
	text-align: center;
	color: #FFCC11;
	font-family: 'Ranger';
	text-shadow: 1px 2px 5px #000000;
	margin-top: 10px;
}

#x {
	color: #FFFFDD;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1em;
}

header{
	overflow: auto;
	min-height: 90px;
	background-color: #222222;
	background-image: url("cartographer.png");
	border-bottom: 1px solid #666666;
}

.clickable:hover {
	cursor: pointer;
}

#trackListWrapper {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#goButton {
	background-image: URL("goButton.png");
	width: 200px;
	height: 200px;
	margin-top: 20px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

#goButton:hover {
	background-position: 0px 200px;
}

#goButton img {
	position: relative;
	left: 170px;
}

#throbber {
	position: absolute;
	top: 10px;
	left: 50px;
	color: white;
}

#throbber img {
	vertical-align: middle;
}

#instructions {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 24pt;
	font-weight: bold;
	color: #666666;
	text-shadow: 0px 1px 1px #FFFFFF;
	line-height: 1em;
}

#playlist {
	position: relative;
	padding-bottom: 50px;
}

#sp-headers {
	height: 22px;
}

#sp-headers.sp-list .sp-item {
	background-color: #777777;
	background-image: none;
	color: black;
	font-weight: bold;
	font-size: 13px;
	color: #171717;
	text-shadow: 0px 1px 1px #999999;
}

#sp-headers.sp-list .sp-item span {
	border: 1px solid #555555;
	border-collapse: collapse;
}

.sp-list .sp-track-field-heard {
	width: 125px;
}

.friendPic {
	height: 20px;
	vertical-align: bottom;
	margin-right: 10px;
}


#trackInfo {
	overflow-x: scroll;
	max-height: 320px;
	white-space: nowrap;
}

#trackInfo > div {
	height: 300px;
	width: 300px;
	display: inline-block;
}

.albumWrapper {
	position: relative;
	overflow: hidden;
	height: 300px;
	background-image: URL("album.png");
}

#trackInfo .albumArt {
	position: absolute;
	top: 0px;
	left: 0px;
}

#trackInfo .profilePicWrapper {
	height: 100px;
	width: 100px;
	overflow: hidden;
	top: 190px;
	left: 0px;
	/*border: 5px solid grey;
	border-radius: 5px;*/
}

#trackInfo .albumFriendPic {
	min-height: 100px;
	min-width: 100px;
}

div.sp-list {
	max-height: none;
}

#playList {
	display: none;
}

/*=======footer code begins========*/

footer {
	position: fixed;
	height: 50px;
	width: 100%;
	background-color: #171717;
	bottom: 0px;
	-webkit-box-shadow: inset 0px 10px 20px #000;
}

#refresh {
	float: left;
	margin: 10px;
	height: 30px;
}

#refresh:not(.disabled):hover {
	cursor:pointer;
}

#refresh.disabled {
	opacity : 0.4;
}

.appOption {
	float: right;
	margin: 10px;
	font-size: 8pt;
	color: #CCCCCC;
	margin-top: 15px;
}

.appOption input {
	background-color: #373737;
	border-radius: 15px;
	border: 1px solid #666666;
	vertical-align: -4px;
	/*box-shadow: inset 0px 1px 2px #000000;*/
}

.appOption .feedback {
	font-family: monospace;
	font-size: 14px;
}


/*=======footer code ends========*/

header.startHeader {
	height: 95%;
	border: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}
header.startHeader h1 {margin-top: 50px;}
header.startHeader #trackInfo {display: none;}


#playlist.sp-list.sp-headers {
	height: 20;
}

.contentWrapper {
	background-color: rgba(0,0,0,.5);
	overflow: hidden;
	width: 100%;
	-webkit-transition: bottom .5s;
	position: absolute;
	bottom: 0px;
}

.profilePicWrapper {
	width: 100px;
	height: 100px;
	float: left;
	margin-right: 5px;
}

.contentWrapper h2, .contentWrapper h3 {display: block;}

.contentWrapper h3:nth-child(2) {
	margin-top: 10px;
	font-size: 10pt;
	color: #FFFFFF;
}

.contentWrapper h2 {
	font-size: 14pt;
	color: #FFCC11;
}

.smallText {
	font-style: italic;
	font-size: 10pt;
	color: #AAAAAA;
	font-weight: normal;
}
.contentWrapper h3:nth-child(4) {
	color: #AAAAAA;
	font-size: 9pt;
	display: block;
	font-weight: normal;
}

.invisible {
	bottom: -100px;
}

#intro {
	width: 480px;
	margin: 0 auto;
	min-height: 10px;
	margin-top: 20px;
}

#intro p {
	width: 220px;
	float: left;
	color: #FFFFFF;
	font-size: 8pt;
}

#intro p:nth-child(2) {
	margin-left: 40px;
}

.littleHeader {
	color: #FFCC11;
	display: block;
	font-size: 11pt;
	/*text-align: center;*/
}
