body {
	font-family: 'Helvetica', 'Lucida Sans', 'Sans-Serif';
}

h1 {
	font-weight: normal;
	font-size: 52px;
	line-height: 1em;
	text-align: center;
	color: #CCCCCC;
	background-color: #222222;
	padding: 4px;
	border-bottom: 1px solid #666666;
}

.clickable:hover {
	cursor: pointer;
}

#trackListWrapper {
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

#goButton {
	background-image: URL("goButton.png");
	width: 200px;
	height: 200px;
	margin-top: 80px;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;
}

#goButton:hover {
	background-position: 0px 200px;
}

#goButton.small {
	background-image: URL("goButtonSmall.png");
	width: 50px;
	height: 50px;
	position: absolute;
	left: 0px;
	top: 0px;
	margin: 5px;
}

#goButton.small:hover {
	background-position: 0px 50px;
}

#loader {
	background-image: URL("loading_indicator.png");
	width: 30px;
	height: 30px;
	position: absolute;
	left: 65px;
	top: 0px;
	margin: 15px;
	display: none;
}

#instructions {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	font-size: 24pt;
	font-weight: bold;
	text-shadow: 0px 1px 1px #666666;
	line-height: 1em;
}

#playlist {
	float: right;
	width: 80%;
	height: 100%;
}

#friends {
	float: right;
	text-align: right;
	width: 20%;
	background-image: -webkit-linear-gradient(#373737, #373737 50%, #313131 50%, #313131);
}

#friends ul li {
	color: white;
	padding-right: 10px;
	line-height: 20px;
	background-color: #373737;;
}

#friends ul li img {
	height: 20px;
	vertical-align: bottom;
}

#friends ul li:nth-child(even) {
	background-color: #313131;
}

#sortStyles div {
	float: right;
	width: 30px;
	height: 24px;
	margin-right: 5px;
	margin-top: 12px;
	padding-top: 6px;
	border: 3px solid black;
	border-radius: 10px;
	text-align: center;
	font-size: 15pt;
	color: white;
	background-color: #333333;
}

#sortStyles div:hover {
	background-color: #666666;
}

#sortStyles div:first-child {
	margin-right: 10px;
}

#sortStyles div.chosen {
	background-color: grey;
}

div.sp-list {
	max-height: none;
}